## Tasca M3T02
### Exercici 1
#### Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

In [357]:
import numpy as np
import pandas as pd
df = pd.read_csv ("/Users/esthersanroma/Desktop/DATA SCIENCES/archive/DelayedFlights.csv")
print(df)

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
0                 0  2008      1           3          4   2003.0        1955
1                 1  2008      1           3          4    754.0         735
2                 2  2008      1           3          4    628.0         620
3                 4  2008      1           3          4   1829.0        1755
4                 5  2008      1           3          4   1940.0        1915
...             ...   ...    ...         ...        ...      ...         ...
1936753     7009710  2008     12          13          6   1250.0        1220
1936754     7009717  2008     12          13          6    657.0         600
1936755     7009718  2008     12          13          6   1007.0         847
1936756     7009726  2008     12          13          6   1251.0        1240
1936757     7009727  2008     12          13          6   1110.0        1103

         ArrTime  CRSArrTime UniqueCarrier  ...  TaxiIn TaxiOut  Cancelled  \
0         2211.0        2225            WN  ...     4.0     8.0          0
1         1002.0        1000            WN  ...     5.0    10.0          0
2          804.0         750            WN  ...     3.0    17.0          0
3         1959.0        1925            WN  ...     3.0    10.0          0
4         2121.0        2110            WN  ...     4.0    10.0          0
...          ...         ...           ...  ...     ...     ...        ...
1936753   1617.0        1552            DL  ...     9.0    18.0          0
1936754    904.0         749            DL  ...    15.0    34.0          0
1936755   1149.0        1010            DL  ...     8.0    32.0          0
1936756   1446.0        1437            DL  ...    13.0    13.0          0
1936757   1413.0        1418            DL  ...     8.0    11.0          0

         CancellationCode  Diverted  CarrierDelay  WeatherDelay NASDelay  \
0                       N         0           NaN           NaN      NaN
1                       N         0           NaN           NaN      NaN
2                       N         0           NaN           NaN      NaN
3                       N         0           2.0           0.0      0.0
4                       N         0           NaN           NaN      NaN
...                   ...       ...           ...           ...      ...
1936753                 N         0           3.0           0.0      0.0
1936754                 N         0           0.0          57.0     18.0
1936755                 N         0           1.0           0.0     19.0
1936756                 N         0           NaN           NaN      NaN
1936757                 N         0           NaN           NaN      NaN

        SecurityDelay  LateAircraftDelay
0                 NaN                NaN
1                 NaN                NaN
2                 NaN                NaN
3                 0.0               32.0
4                 NaN                NaN
...               ...                ...
1936753           0.0               22.0
1936754           0.0                0.0
1936755           0.0               79.0
1936756           NaN                NaN
1936757           NaN                NaN

[1936758 rows x 30 columns]

In [358]:
print(df.columns)

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

#### Es tracta d'una base de dades dels vols que arriben puntuals, en retard, cancel.lats i desviats durant l'any 2008. Consta de 30 columnes amb 1936758 files.

#### Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

In [359]:
df2= df.sample(200000)
print(df2)

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
82057        257638  2008      1           2          3    113.0        2205
1136665     3787817  2008      7           5          6   1850.0        1820
236643       753825  2008      2          11          1   1823.0        1731
1230797     4124762  2008      7          30          3   1723.0        1700
1404933     4772953  2008      8          16          6   2218.0        2205
...             ...   ...    ...         ...        ...      ...         ...
948398      3184311  2008      6          12          4   1953.0        1939
1230333     4123306  2008      7          15          2   1750.0        1640
800135      2656028  2008      5           9          5    731.0         725
1693421     6263824  2008     11          16          7   1926.0        1918
531134      1667708  2008      3          27          4   1638.0        1625

         ArrTime  CRSArrTime UniqueCarrier  ...  TaxiIn TaxiOut  Cancelled  \
82057      215.0        2321            US  ...     3.0     8.0          0
1136665   2015.0        1949            OO  ...     4.0    23.0          0
236643    2105.0        2016            OH  ...     5.0     7.0          0
1230797   2039.0        2025            AA  ...     3.0    13.0          0
1404933   2307.0        2300            AS  ...     4.0     4.0          0
...          ...         ...           ...  ...     ...     ...        ...
948398    2023.0        2005            OO  ...     9.0    10.0          0
1230333   2140.0        2030            AA  ...    11.0    14.0          0
800135     934.0         908            US  ...     7.0    14.0          0
1693421   2106.0        2110            FL  ...     9.0    11.0          0
531134    2001.0        1955            AA  ...    12.0    14.0          0

         CancellationCode  Diverted  CarrierDelay  WeatherDelay NASDelay  \
82057                   N         0           1.0           0.0      0.0
1136665                 N         0           0.0           0.0      0.0
236643                  N         0          49.0           0.0      0.0
1230797                 N         0           NaN           NaN      NaN
1404933                 N         0           NaN           NaN      NaN
...                   ...       ...           ...           ...      ...
948398                  N         0           0.0           0.0      4.0
1230333                 N         0          70.0           0.0      0.0
800135                  N         0           6.0           0.0     20.0
1693421                 N         0           NaN           NaN      NaN
531134                  N         0           NaN           NaN      NaN

        SecurityDelay  LateAircraftDelay
82057             0.0              173.0
1136665           0.0               26.0
236643            0.0                0.0
1230797           NaN                NaN
1404933           NaN                NaN
...               ...                ...
948398            0.0               14.0
1230333           0.0                0.0
800135            0.0                0.0
1693421           NaN                NaN
531134            NaN                NaN

[200000 rows x 30 columns]

### Exercici 2
#### Fes un informe complet del dataset:
Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.

In [360]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 82057 to 531134
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199232 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            200000 non-null  object
 12  ActualElapsedTime  199111 non-null  float64
 13  CRSElapsedTime     199984 non-null  float64
 14  AirTime            199111 non-null  float64
 15  ArrDelay           199111 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199232 non-null  float64
 21  TaxiOut            199955 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       128891 non-null  float64
 26  WeatherDelay       128891 non-null  float64
 27  NASDelay           128891 non-null  float64
 28  SecurityDelay      128891 non-null  float64
 29  LateAircraftDelay  128891 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 47.3+ MB
None

#### La base de dades, són les dades recollides durant el 2008 als EUA, sobre el retard dels avions, per diferentes causes. Les principals causes són CarrierDelay (neteja d'aeronaus, danys a l'aeronau, espera de l'arribada de passatgers o tripulació ....),WeatherDelay (Retras degut a les condicions metereològiques), NASDelay (retard que està sota el control del Sistema Nacional d'Espai Aeri NAS) , SecurityDelay (retard per seguretat, control d'acces amb cues....) i LateAircraftDelay (retard degut als anteriors retards de l'avió).
#### Les dades consten de 1936758 files x 30 columnes, en hi han 14 (float64), 11(int64) i 5(object), en hi han 17 complertes, i 13 que falten un num de dades. Tambe trobem, el dia, mes, any, dia de la setmana, hora d'arribada ( si arriba 15 minuts tard es considera que no ha arribat tard), de sortida, retard d'arribada, retard de sortida, cancelacions, desviacions.... El temps esta medit amb minuts i la distancia en milles.Trobo interessant crea una columna amb nova amb el dia/Mes/Any, per poder calcular el dia concret.

#### Troba quantes dades faltants hi ha per columna.

In [361]:
df2.isnull().sum() # Elements nuls per cada columna

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                768
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      889
CRSElapsedTime          16
AirTime                889
ArrDelay               889
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 768
TaxiOut                 45
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71109
WeatherDelay         71109
NASDelay             71109
SecurityDelay        71109
LateAircraftDelay    71109
dtype: int64

#### Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

In [362]:
#Velocitat Mitjana= Distancia/Temps  
df2["HoresAirT"]=df2["AirTime"]/60
df2["VelocitatM"]=df2["Distance"]/df2["HoresAirT"]
print(df2["VelocitatM"])

82057      389.411765
1136665    463.220339
236643     324.000000
1230797    464.500000
1404933    381.951220
              ...
948398     357.464789
1230333    490.188679
800135     389.189189
1693421    435.750000
531134     506.666667
Name: VelocitatM, Length: 200000, dtype: float64

In [363]:
df2["Retard"]= np.where(df2["ArrDelay"]>=15, "True", "False")
df2.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoresAirT,VelocitatM,Retard
82057,257638,2008,1,2,3,113.0,2205,215.0,2321,US,...,N,0,1.0,0.0,0.0,0.0,173.0,0.850000,389.411765,True
1136665,3787817,2008,7,5,6,1850.0,1820,2015.0,1949,OO,...,N,0,0.0,0.0,0.0,0.0,26.0,1.966667,463.220339,True
236643,753825,2008,2,11,1,1823.0,1731,2105.0,2016,OH,...,N,0,49.0,0.0,0.0,0.0,0.0,2.500000,324.000000,True
1230797,4124762,2008,7,30,3,1723.0,1700,2039.0,2025,AA,...,N,0,NaN,NaN,NaN,NaN,NaN,2.000000,464.500000,False
1404933,4772953,2008,8,16,6,2218.0,2205,2307.0,2300,AS,...,N,0,NaN,NaN,NaN,NaN,NaN,0.683333,381.951220,False
1914502,6952536,2008,12,26,5,1848.0,1810,2108.0,2011,AS,...,N,0,0.0,0.0,19.0,0.0,38.0,1.966667,341.186441,True
329940,1042634,2008,2,16,6,1129.0,1010,1327.0,1159,9E,...,N,0,0.0,0.0,9.0,0.0,79.0,1.500000,397.333333,True
813647,2720327,2008,5,20,2,1644.0,1634,1707.0,1649,EV,...,N,0,0.0,0.0,18.0,0.0,0.0,0.816667,369.795918,True
1285124,4295922,2008,8,21,4,1515.0,1455,1619.0,1610,WN,...,N,0,NaN,NaN,NaN,NaN,NaN,2.866667,453.837209,False
1564020,5585747,2008,10,27,1,1347.0,1300,2002.0,1859,UA,...,N,0,0.0,0.0,61.0,0.0,2.0,3.716667,469.506726,True

In [121]:
#Un altra manera d'afegir una columna amb condició 
df2["AvRetard"]=["si" if s>=15 else "No" for s in df2["ArrDelay"]]
df2.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoresAirT,VelocitatM,Retard,Rutes,AvRetard
148275,486117,2008,1,10,4,1755.0,1735,2332.0,2255,AA,...,0.0,0.0,17.0,0.0,20.0,2.966667,497.528090,True,SJC AUS,si
1717510,6393801,2008,11,13,4,1753.0,1740,2141.0,2120,AA,...,13.0,0.0,8.0,0.0,0.0,2.516667,465.695364,True,DFW IAD,si
1178400,3936231,2008,7,6,7,939.0,921,1209.0,1152,EV,...,17.0,0.0,0.0,0.0,0.0,1.283333,352.987013,True,LIT ATL,si
983490,3296000,2008,6,1,7,1442.0,1400,1628.0,1525,WN,...,0.0,0.0,36.0,0.0,27.0,1.200000,372.500000,True,SFO SAN,si
1380979,4678211,2008,8,4,1,2309.0,2252,2350.0,2333,NW,...,17.0,0.0,0.0,0.0,0.0,1.366667,386.341463,True,DTW MSP,si
1620297,5908123,2008,10,22,3,2344.0,1805,219.0,2050,CO,...,122.0,0.0,0.0,0.0,207.0,4.183333,436.254980,True,IAH PDX,si
195707,636380,2008,2,12,2,1858.0,1345,26.0,1910,WN,...,305.0,0.0,3.0,0.0,8.0,3.083333,488.432432,True,DEN TPA,si
99209,316859,2008,1,27,7,1158.0,1135,1908.0,1855,DL,...,NaN,NaN,NaN,NaN,NaN,3.650000,557.808219,False,SFO CVG,No
1905663,6929572,2008,12,8,1,627.0,600,847.0,815,AA,...,27.0,0.0,5.0,0.0,0.0,1.800000,335.000000,True,HSV DFW,si
513902,1608671,2008,3,7,5,1525.0,1516,1656.0,1620,NW,...,9.0,0.0,27.0,0.0,0.0,2.200000,277.272727,True,DTW MEM,si

In [364]:
# Columna nova rutes(origen i desti)
df2["Rutes"]=df2.Origin.str.cat(df2.Dest, sep=" ")
print(df2["Rutes"])

82057      CLT DCA
1136665    ORD COS
236643     PWM CVG
1230797    DFW TPA
1404933    FAI ANC
            ...
948398     LNK DEN
1230333    SJU DFW
800135     ORD PHX
1693421    FLL ATL
531134     SLC DFW
Name: Rutes, Length: 200000, dtype: object

In [365]:
df2['Data'] = pd.to_datetime(df2.Year*10000+df2.Month*100+df2.DayofMonth,format='%Y%m%d')
print(df2["Data"])

82057     2008-01-02
1136665   2008-07-05
236643    2008-02-11
1230797   2008-07-30
1404933   2008-08-16
             ...
948398    2008-06-12
1230333   2008-07-15
800135    2008-05-09
1693421   2008-11-16
531134    2008-03-27
Name: Data, Length: 200000, dtype: datetime64[ns]

In [366]:
#Columnes Noves= HoresAirT,VelocitatM, Retard, Rutes i Data.
print(df2.columns)

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'HoresAirT', 'VelocitatM', 'Retard', 'Rutes', 'Data'],
      dtype='object')

#### Fes una taula de les aerolínies amb més endarreriments acumulats.

In [368]:
# num de vols en retard que han tingut cada companyia
VC=df2[df2.Retard=="True"].groupby(["UniqueCarrier"])["Retard"].value_counts()
print(VC.sort_values(ascending=False))

UniqueCarrier  Retard
WN             True      20997
AA             True      13655
MQ             True       9958
UA             True       9911
OO             True       9152
DL             True       7483
XE             True       7378
US             True       6297
CO             True       6052
EV             True       5911
NW             True       5761
YV             True       5143
FL             True       4861
OH             True       4004
B6             True       3962
9E             True       3762
AS             True       2437
F9             True       1667
HA             True        450
AQ             True         50
Name: Retard, dtype: int64

In [369]:
#numero de retards que han tingut cada companyia  VC= Vols companyia
#un altra manera de fer-ho
VC=df2.groupby(['UniqueCarrier']).agg(Vols_Tard = pd.NamedAgg(column="Retard",
    aggfunc= lambda x: x[x.str.contains('True')].count()))
print(VC.sort_values(by="Vols_Tard" ,ascending=False))

               Vols_Tard
UniqueCarrier
WN                 20997
AA                 13655
MQ                  9958
UA                  9911
OO                  9152
DL                  7483
XE                  7378
US                  6297
CO                  6052
EV                  5911
NW                  5761
YV                  5143
FL                  4861
OH                  4004
B6                  3962
9E                  3762
AS                  2437
F9                  1667
HA                   450
AQ                    50

#### Quins són els vols més llargs?

In [284]:
print(df2["AirTime"].max())  #El temps màx de vol

636.0

In [285]:
# els num de vol que tenen més durada en temps AirTime= minuts volsDRD= vols Durada
volsDRD = df2.groupby('FlightNum')['AirTime'].max()
volsDRD.sort_values( ascending=False)

FlightNum
15      636.0
1273    605.0
851     586.0
1561    563.0
14      552.0
        ...
7039     20.0
6659     19.0
6320     19.0
6172     18.0
6143      NaN
Name: AirTime, Length: 7310, dtype: float64

#### I els més endarrerits?

In [286]:
# num de Vol que tenen més temps d'ArrDelay 
volsTRD = df2.groupby('FlightNum')['ArrDelay'].max()
volsTRD.sort_values( ascending=False)

FlightNum
808     2461.0
394     1346.0
1138    1312.0
1051    1267.0
207     1239.0
         ...
6823      -9.0
6872      -9.0
5813     -11.0
6809     -13.0
6143       NaN
Name: ArrDelay, Length: 7310, dtype: float64

In [374]:
#Rutes on el retard d'arribada és més gran 
RT_Tard = df2.groupby('Rutes')['ArrDelay'].max()
RT_Tard.sort_values( ascending=False)

Rutes
EGE MIA    1525.0
HNL MSP    1382.0
LAS STL    1308.0
KOA SEA    1202.0
CVG LGA    1195.0
            ...
FAT OGD       NaN
MCI ICT       NaN
PDX MSN       NaN
ROC BOS       NaN
SFO SMX       NaN
Name: ArrDelay, Length: 4824, dtype: float64

In [373]:
print(df2["ArrDelay"].max())   #El major retras a la columna ArrDelay

1525.0

Busca les rutes més llargues

In [375]:
# La ruta (Rutes) on la distancia (Distance)és més llarga
RutaDSTC= df2.groupby("Rutes")["Distance"].max()
RutaDSTC.sort_values(ascending=False)

Rutes
HNL EWR    4962
EWR HNL    4962
HNL ATL    4502
ATL HNL    4502
ORD HNL    4243
           ...
SNA LAX      36
LAX SNA      36
PSG WRG      31
WRG PSG      31
HPN JFK      30
Name: Distance, Length: 4824, dtype: int64

In [376]:
print(df2["Distance"].max()) #La distancia més gran

4962

#### i les que acumulen més retards

In [378]:
#Les rutes que tenen més num de retards
numRTD = df2[df2.Retard=="True"].groupby ('Rutes')['Retard'].value_counts()
numRTD.sort_values(ascending=False)

Rutes    Retard
LAX SFO  True      340
ORD LGA  True      339
SFO LAX  True      311
LGA ORD  True      282
ATL LGA  True      280
                  ...
GST JNU  True        1
GTF BZN  True        1
MCO TYS  True        1
GTF ORD  True        1
CVG JAN  True        1
Name: Retard, Length: 4713, dtype: int64

#### Aporta allò que consideris rellevant.

In [407]:
# El mes de l'any que hi han més cancelacions. Cancelacions(1=si cancelat 0=no cancelat) 
MCANC=df2.groupby("Month")["Cancelled"].value_counts()
MCANC.sort_values(ascending=True)

Month  Cancelled
11     1                5
10     1                9
12     1               55
9      0             9739
10     0            10592
11     0            10818
5      0            15739
4      0            16050
8      0            16887
7      0            18818
1      0            18867
2      0            19735
3      0            20783
6      0            20914
12     0            20989
Name: Cancelled, dtype: int64

In [ ]:
#A = carrier, B = weather, C = NAS, D = security
# quantes cancelacions han sigut degudes al mal temps i quantes x Transport

In [389]:
CANC=df2[(df2.CancellationCode=="A") | (df2.CancellationCode=="B")].groupby(["Month"])["CancellationCode"].value_counts()
CANC

Month  CancellationCode
10     A                    5
       B                    3
11     B                    3
       A                    2
12     B                   23
       A                   21
Name: CancellationCode, dtype: int64

In [390]:
# l'origen on han hagut més retards 
ORGTard =df2.groupby(['Origin']).agg(Origen_Tard = pd.NamedAgg(column="Retard",
    aggfunc= lambda x: x[x.str.contains('True')].count()))
print(ORGTard.sort_values(by="Origen_Tard" ,ascending=False))

        Origen_Tard
Origin
ORD            9377
ATL            9024
DFW            6210
DEN            4731
EWR            3817
...             ...
BPT               1
YKM               1
HTS               1
ACY               0
BLI               0

[299 rows x 1 columns]

In [402]:
#Dia/mes/any que més retards hi han i els dies que menys 
DATA_Tard=df2[df2.Retard=="True"].groupby(["Data"])["Retard"].count()
print("Dies amb més retards",DATA_Tard.sort_values(ascending=False))
print("Dies amb menys retards",DATA_Tard.sort_values(ascending=True))

Dies amb més retards Data
2008-12-22    822
2008-11-30    822
2008-12-01    809
2008-12-19    797
2008-12-23    793
             ...
2008-10-18     93
2008-05-25     93
2008-08-31     89
2008-11-27     87
2008-11-28     82
Name: Retard, Length: 366, dtype: int64
Dies amb menys retards Data
2008-11-28     82
2008-11-27     87
2008-08-31     89
2008-10-18     93
2008-05-25     93
             ...
2008-12-23    793
2008-12-19    797
2008-12-01    809
2008-12-22    822
2008-11-30    822
Name: Retard, Length: 366, dtype: int64

### Exercici 3
#### Exporta el dataset net i amb les noves columnes a Excel.

In [404]:
df2.to_excel("DelayedFlightsEXC.xlsx")